@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased;
    }
}

@layer components {
    .btn-primary {
        @apply bg-primary text-white font-semibold py-3 px-6 rounded-lg hover:bg-primary-dark transition duration-300;
    }
    
    .btn-secondary {
        @apply bg-secondary text-white font-semibold py-3 px-6 rounded-lg hover:bg-green-600 transition duration-300;
    }
    
    .card {
        @apply bg-white rounded-xl shadow-md p-6;
    }
}